/* Navigation */
/* overall */
html,
body {
    padding: 0;
    margin: 0;
}

html {
    background-image: linear-gradient(#070425, #75e9d9);
    font-family: montserrat;
    height: 100vh;
}

/* font */
@font-face {
    font-family: montserrat;
    src: url(font\Montserrat\Montserrat-VariableFont_wght.ttf);
}

/* header-x */
.h-x {
    width: calc(100vw - 5rem);
    top: 0;
    right: 0;
    height: 5rem;
    background-color: #070425;
    z-index: 9997;
    position: fixed;
}
/* header-y */

.h-y {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: #070425;
    text-align: center;
    box-shadow: 0 0 15px #000;
    z-index: 9998;
}

/* hover-effects */
.h-y:hover + .h-x {
    width: calc(100vw - 15rem);
    transition-duration: 0.4s;
}
.h-y:hover {
    transition-duration: 0.4s;
    height: 100vh;
    width: 15rem;
    position: fixed;
    text-align: center;
    font-size: 2em;
}

.h-y>nav>ul>li:hover>a {
    color: #affafa;
    transition-duration: 0s;
}

.h-y:hover>nav>label {
    font-size: 200%;
}

.h-y:hover>nav>ul {
    font-size: 100%;
}

.h-ynav>ul>li:hover {
    background-color: #3d3d3d81;
}

/* nav */
.h-y>nav {
    height: 100vh;
    color: white;
}

/* label */
.h-y>nav>label {
    font-size: 25px;
    background-color: #3d3d3d81;
    display: block;
    border-bottom: 2px solid black;
    border-top: 2px solid black;    
}

/* list */
.h-y>nav>ul {
    height: 85vh;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.h-y>nav>ul>li {
    padding: 0.5rem 0 0.5em 0;
}

.h-y>nav>ul>li:last-child {
    margin-top: auto;
}

.h-y>nav>ul>li:first-child {
    margin-top: 4vh;
}

/* ancor */

.h-y>nav>ul>li>a {
    text-decoration: none;
    color: white;
    width: 100%;
    display: block;
}